.outer{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    line-height: 50px;
    background-color: rgb(114, 131, 184);
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-items: center;
    z-index: 100;
    box-shadow: 1px 0 15px 0 gray;
}

.fillBlock{
    flex: 1 0 auto;
}

.logo{
    position:absolute;
    top: 5px;
    left: 50px;
    border-radius: 19px;
}

.searchBox{
    flex: 0 0 auto;
    width: 230px;
    display: flex;
    background-color: rgb(206, 206, 233);
    border-radius: 10px;
    font-size: 20px;
}


@keyframes searchGrow {
    from {flex: 0 0 auto}
    to {flex: 1 0 auto}
}

.searchBox:focus-within{
    flex: 1 0 auto;
    padding-left: 20px;
    animation-name: searchGrow;
    animation-duration: 1s;
}

.searchText{
    flex: 1 0 auto;
    line-height: 30px;
    outline: none;
    border: none;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
}

.searchButton{
    flex: 0 0 auto;
    width: 60px;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
    padding: 0;
    color: white;
}

.searchButton:hover{
    color: rgb(22, 83, 173);
    cursor: pointer;
}
