.outer{
    position: relative;
    height: 100px;
    background-color: white;
    border-bottom: 1px solid rgb(233, 233, 233);
    margin-top: 10px;
    display: flex;
    padding: 10px 30px;
}

.outer:hover{
    top: -5px;
    box-shadow: 0px 10px 10px -10px rgb(184, 184, 184);
}

.authorBox{
    width: 150px;
    height: 100px;
    line-height: 20px;
}

.shot{
    width: 80px;
    height: 80px;
    margin: 10px;
}

.tag{
    color: grey;
    margin-right: 15px;
}

.tag:hover{
    text-decoration: underline;
    cursor: pointer;
}

.author{
    color: rgb(25, 172, 177);
    margin-right: 10px;
}

.author:hover{
    text-decoration: underline;
    cursor: pointer;
}

.replyCount{
    color: gray;
    margin-right: 10px;
}

.star{
    position: absolute;
    right: 20px;
    top: 40px;
    font-size: 30px;
    color: gray;
    display: none;
}

.title{
    display: block;
    outline: none;
    margin: 10px 0;
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
}

.title:hover{
    color: rgb(118, 187, 252);
    text-decoration: underline;
    cursor: pointer;
}