.outer{
    position: relative;
    background-color: white;
}

.sortNav{
    height: 20px;
    line-height: 20px;
    color: black;
    background-color: white;
    padding: 0 10px 10px 20px;
    box-shadow: 0 10px 10px -10px rgb(255, 255, 255);
}

.sortItem{
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0 10px;
}

.sortItem:hover{
    background-color: rgb(162, 180, 231);
    color: white;
    cursor: pointer;
}

.active{
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0 10px;
    background-color: rgb(162, 180, 231);
    color: white;
}

.main{
    background-color: white;
}