.outer{
    width: 300px;
    margin-left: 20px;
    margin-top: 15px;
    background-color: white;
}

.title{
    background-color: rgb(148, 207, 255);
    height: 30px;
    line-height: 30px;
    color: white;
    padding: 0 15px;
    position: relative;
}

.more{
    position: absolute;
    right: 10px;
}

.more:hover{
    color: rgb(36, 30, 126);
    cursor: pointer;
}

.docBox{
    box-shadow: 0 10px 5px -10px rgb(219, 219, 219);
}

.doc{
    display: flex;
}

.text{
    display: block;
    flex: 0 1 auto;
    padding: 5px 10px;
}

.text:hover{
    text-decoration: underline;
    cursor: pointer;
}

.tem{
    width: 50px;
    flex: 0 0 auto;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: rgb(63, 124, 202);
}